* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-image: url('https://thumbs.dreamstime.com/b/cofe-beansstx9312053.jpg');
     */
    background-image: url('https://thumbs.dreamstime.com/b/cofe-beans-9312053.jpg');
}

.box {
    height: 550px;
    width: 90%;
    background-color: white;
    margin-top: 5%;
    margin-left: 13%;
    margin-bottom: 2.5%;
    padding: 10px;
    border-radius: 5px;
    /* height: 550px;
    width: 90%;
    background-color: white;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 2.5%;
    padding: 10px;
    border-radius: 5px; */
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

section .box1 {
    position: relative;
    width: 75%;
    height: 96%;
}

section .box1:before {
    content: '';
    position: absolute;
    margin-top: -1.5%;
    margin-left: -1.5%;
    width: 100%;
    height: 77%;
}

section .box1 img {
    position: absolute;
    margin-top: -1.5%;
    margin-left: -1.5%;
    width: 100%;
    height: 77%;
    border-radius: 5px;
    object-fit: cover;
}

section .box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 75%;
}

section .box2 .formbox {
    width: 75%;
}

section .box2 .formbox h1 {
    /* color: #607d8b; */
    color: #471d09;
    font-weight: 600;
    font-size: 1.7em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #e1cb9a;
    display: inline-block;
    letter-spacing: 1px;
}
section .box2 .formbox .inputbox {
    margin-bottom: 5px;
}

section .box2 .formbox .inputbox input {

    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    /* border: 1px solid #e1cb9a;
     */
    border: 1px solid #471d09;
    font-size: 18px;
    letter-spacing: 1px;
    color: black;
    background: transparent;
    border-radius: 30px;
}

section .box2 .formbox .inputbox input[type="submit"] {
    /* background: #ff4584; */
    background: #471d09;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

section .box2 .formbox .inputbox input[type="submit"]:hover {
    /* background: #f53677; */
    background: #8B4513;
    /* background: #e1cb9a; */
    /* background: skyblue; */
}

section .box2 .formbox .inputbox p {
    color: #607d8b;
}

section .box2 .formbox .inputbox p a {
    color: #ff4584;
}

.form-link{
    text-align: center;
    margin-top: 10px;
}
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}
.box3 .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}
.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}
.field input:focus{
    border-bottom-width: 2px;
}

.box3{
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #FFF;
}

form{
    margin-top: 30px;
}
.box3.signup-box{
    opacity: 0;
    pointer-events: none;
}
.forms.show-signup .box3.signup-box{
    opacity: 1;
    pointer-events: auto;
}
.forms.show-signup .box3.signin-box{
    opacity: 0;
    pointer-events: none;
}

@media (max-width: 768px) {
    section .box1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    section .box2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: l;
    }

    section .box2 .formbox {
        width: 100%;
        padding: 40px;
        background: rbg(255 255 255 / 0.9);
        margin: 50px;
    }
}